body {
    margin: 0;
    background: #222;
}

h1 {
    max-width: 20%;
    margin-right: 0;
    padding-right: 0;
    display:inline-block;
}

.container {
    width: 80%
    margin: 0 auto;
}

header ::after {
    content: '';
    display: table;
    clear: both;
}

nav {
   float: right;  
   margin-top: 25px;
}


nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 0px;

    position: relative; 
}

nav a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: rgb(255, 255, 255);

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}