.about {
    background-color: black;
    display: flex;
    height: fit-content;
    justify-content: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    padding: 40px 0;
    row-gap: 16px;
    width: 85%;
}

.about-content {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    width: 100%;
}

.about-content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
    width: 100%;
}

.about-content-section {
    position: relative;
}

@media screen and (max-width: 992px) {
    .about-content-section:nth-child(even) {
        flex-direction: column-reverse;
    }
}

.about-content-section::after {
    background-color: white;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: -24px;
    width: 100%;
}

.about-content-section:first-child::after {
    display: none;
}

@media (min-width: 992px) {
    .about-content-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-content-section:last-child {
        flex-direction: row;
    }

    .about-content-section::after {
        display: none;
    }
}

.about-content-text {
    align-items: center;
    color: white;
    display: flex;
    width: 100%;
}

@media (min-width: 992px) {
    .about-content-text {
        width: 40%;
    }
}

.about-content-image {
    width: 100%;
}

@media (min-width: 992px) {
    .about-content-image {
        width: 40%;
    }
}

.about-content-image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 300px;
}