.contact {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.contact-animation-wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.contact-animation-blob1,
.contact-animation-blob2,
.contact-animation-blob3,
.contact-animation-blob4,
.contact-animation-blob5 {
    aspect-ratio: 1/1;
    height: 30%;
    opacity: .75;
    position: absolute;
    transition: .1s linear;
}

@media (min-width: 576px) {

    .contact-animation-blob1,
    .contact-animation-blob2,
    .contact-animation-blob3,
    .contact-animation-blob4,
    .contact-animation-blob5 {
        height: 40%;
    }
}

@media (min-width: 768px) {

    .contact-animation-blob1,
    .contact-animation-blob2,
    .contact-animation-blob3,
    .contact-animation-blob4,
    .contact-animation-blob5 {
        height: 50%;
    }
}

@media (min-width: 992px) {

    .contact-animation-blob1,
    .contact-animation-blob2,
    .contact-animation-blob3,
    .contact-animation-blob4,
    .contact-animation-blob5 {
        height: 70%;
    }
}

@media (min-width: 1200px) {

    .contact-animation-blob1,
    .contact-animation-blob2,
    .contact-animation-blob3,
    .contact-animation-blob4,
    .contact-animation-blob5 {
        height: 77.5%;
    }
}

.contact-animation-blob1:after {
    animation: blob 8s linear infinite;
    aspect-ratio: 1/1;
    background-color: white;
    content: "";
    filter: blur(5px);
    height: 75%;
    left: 17.5%;
    position: absolute;
    top: 17.5%;
}

.contact-animation-blob1:before {
    animation: blob 8s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--secondary);
    border-radius: 50%;
    content: "";
    height: 82.5%;
    left: 14%;
    position: absolute;
    top: 14%;
}

.contact-animation-blob2:after {
    animation: blob 6s linear infinite;
    aspect-ratio: 1/1;
    background-color: white;
    content: "";
    filter: blur(5px);
    height: 75%;
    left: 17.5%;
    position: absolute;
    top: 17.5%;
}

.contact-animation-blob2:before {
    animation: blob 6s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--tertiary);
    border-radius: 50%;
    content: "";
    height: 75%;
    left: 15%;
    position: absolute;
    top: 15%;
}

.contact-animation-blob3:after {
    animation: blob 6s linear infinite;
    aspect-ratio: 1/1;
    background-color: white;
    content: "";
    filter: blur(5px);
    height: 75%;
    left: 17.5%;
    position: absolute;
    top: 17.5%;
}

.contact-animation-blob3:before {
    animation: blob 10s, blobOpacity 7.5s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--dark);
    border-radius: 50%;
    content: "";
    height: 80%;
    left: 15%;
    position: absolute;
    top: 15%;
}

.contact-animation-blob4:after {
    animation: blob 6s linear infinite;
    aspect-ratio: 1/1;
    background-color: white;
    content: "";
    filter: blur(5px);
    height: 75%;
    left: 17.5%;
    position: absolute;
    top: 17.5%;
}

.contact-animation-blob4:before {
    animation: blob 10s, blobOpacity 5s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--quartiary);
    border-radius: 50%;
    content: "";
    height: 78%;
    left: 15%;
    position: absolute;
    top: 15%;
}

.contact-animation-blob5:after {
    animation: blob 6s linear infinite;
    aspect-ratio: 1/1;
    background-color: white;
    content: "";
    filter: blur(5px);
    height: 70%;
    left: 20%;
    position: absolute;
    top: 20%;
}

.contact-animation-blob5:before {
    animation: blob 10s, blobOpacity 12s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--accent);
    border-radius: 50%;
    content: "";
    height: 79%;
    left: 15%;
    position: absolute;
    top: 15%;
}

@media (min-width: 768px) {

    .contact-animation-blob1:after,
    .contact-animation-blob2:after,
    .contact-animation-blob3:after,
    .contact-animation-blob4:after,
    .contact-animation-blob5:after {
        filter: blur(15px);
    }
}

@keyframes blob {
    0% {
        transform: rotate(0deg);
        border-radius: 75% 66% 76% 57%;
    }

    25% {
        transform: rotate(80deg);
        border-radius: 58% 83% 74% 67%;
    }

    50% {
        transform: rotate(160deg);
        border-radius: 75% 66% 95% 91%;
    }

    75% {
        transform: rotate(240deg);
        border-radius: 75% 98% 65% 84%;
    }

    100% {
        transform: rotate(360deg);
        border-radius: 75% 66% 76% 57%;
    }
}

@keyframes blobOpacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

.contact-form-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 48px;
    left: 7.5%;
    position: relative;
    width: 85%;
    z-index: 1;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-form-input,
.contact-form-text-area {
    background: transparent;
    border: none;
    caret-color: white;
    color: white;
    font-size: 16px;
    height: 32px;
    outline: none;
    width: 90%;
}

@media (min-width: 992px) {

    .contact-form-input,
    .contact-form-text-area {
        width: 30%;
    }
}

.contact-form-text-area {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

@media (min-width: 992px) {
    .contact-form-text-area {
        height: 100px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.contact-form-input::placeholder,
.contact-form-text-area::placeholder {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.contact-form-topic-wrapper,
.contact-form-email-wrapper,
.contact-form-message-wrapper {
    position: relative;
}

.contact-form-topic-wrapper hr,
.contact-form-email-wrapper hr,
.contact-form-message-wrapper hr {
    background-color: var(--secondary);
    border: none;
    bottom: 0;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 10%;
}

.contact-form-topic-wrapper input:focus+hr,
.contact-form-email-wrapper input:focus+hr,
.contact-form-message-wrapper textarea:focus+hr {
    width: 40%;
}

@media (min-width: 768px) {

    .contact-form-topic-wrapper input:focus+hr,
    .contact-form-email-wrapper input:focus+hr,
    .contact-form-message-wrapper textarea:focus+hr {
        width: 30%;
    }
}

.contact-form-submit {
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid var(--secondary);
    color: white;
    display: flex;
    font-size: medium;
    gap: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    transition: .3 linear;
    width: fit-content;
}

.contact-form-submit:hover,
.contact-form-submit:focus {
    cursor: pointer;
}

.contact-form-submit:hover img,
.contact-form-submit:focus img {
    animation: plane .7s linear;
}

.contact-form-submit:after {
    background: var(--secondary);
    content: "";
    display: block;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    padding-left: 350%;
    padding-top: 300%;
    position: absolute;
    transition: all 1s;
}

.contact-form-submit:active:after {
    border-radius: 50%;
    margin: 0;
    opacity: .75;
    padding: 0;
    transition: 0s;
}

@keyframes plane {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    33% {
        transform: translate(100px, -100px);
        opacity: 0;
    }

    66% {
        transform: translate(-100px, 100px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }

}

.contact-form-submit img {
    height: 20px;
}