.title {
    color: white;
    font-size: 30px;
    font-weight: 300;
    position: relative;
    width: fit-content;
}

@media (min-width: 576px) {
    .title {
        font-size: 35px;
    }
}


@media (min-width: 768px) {
    .title {
        font-size: 40px;
    }
}


@media (min-width: 992px) {
    .title {
        font-size: 50px;
    }
}


.title::after {
    border: 1px var(--secondary) solid;
    bottom: -20px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.subtitle {
    font-size: medium;
    font-weight: 100;
    text-align: center;
}

@media (min-width: 992px) {
    .subtitle {
        font-size: large;
        font-weight: 100;
        margin: 0;
        margin: 16px 0;
    }   
}

.paragraph {
    color: white;
    font-size: medium;
    font-weight: 200;
}

@media (min-width: 576px) {
    .paragraph {
        font-weight: 300;
        font-size: large;
    }
}

@media (min-width: 1200px) {
    .paragraph {
        font-size: larger;
    }
}

.link {
    background-image: linear-gradient(var(--secondary) 0 0);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    color: white;
    display: inline-block;
    font-weight: 500;
    padding-bottom: 2px;
    text-decoration: none;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.link:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}