.hero {
    background-image: linear-gradient(235deg,
            hsl(214deg 97% 36%) 0%,
            hsl(234deg 40% 35%) 6%,
            hsl(251deg 26% 23%) 15%,
            hsl(260deg 11% 15%) 28%,
            hsl(260deg 11% 15%) 43%,
            hsl(260deg 11% 15%) 59%,
            hsl(251deg 26% 23%) 75%,
            hsl(234deg 40% 35%) 89%,
            hsl(214deg 97% 36%) 100%);
    color: white;
    height: 100vh;
    width: 100%;
}

.hero-overlay {
    background-color: black;
    height: 100vh;
    opacity: .6;
    position: absolute;
    width: 100%;
}

.hero-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.hero-logo {
    animation: fadeIn 2s linear;
    aspect-ratio: 1;
    height: 100px;
    z-index: 1;
}

.hero-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
}

.hero-title {
    animation: fadeIn 2s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: center;
}

.hero-sub {
    animation: fadeIn 2s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero-icon {
    animation: verticalMovement 3s linear infinite;
    position: absolute;
    transition: .3s;
}

.hero-icon:hover {
    cursor: pointer;
    opacity: .5;
}

.planet1 {
    animation: planet 10s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--secondary);
    border-radius: 50%;
    box-shadow: inset var(--dark) -20px -20px 70px;
    left: 15%;
    perspective: 1000px;
    position: relative;
    top: 15%;
    transform-style: preserve-3d;
    width: 20%;
}

.planet2 {
    animation: planet 7.5s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--secondary);
    border-radius: 50%;
    box-shadow: inset var(--dark) -20px -20px 70px;
    left: 15%;
    perspective: 1000px;
    position: relative;
    top: 50%;
    transform-style: preserve-3d;
    width: 5%;
}

.planet3 {
    animation: planet 12s linear infinite;
    aspect-ratio: 1/1;
    background-color: var(--dark);
    border-radius: 50%;
    box-shadow: inset var(--dark) -20px -20px 70px;
    left: 65%;
    perspective: 1000px;
    position: relative;
    top: 5%;
    transform-style: preserve-3d;
    width: 10%;
    transition: 1s linear;
}

@media (min-width: 768px) {
    .planet2 {
        left: 25%;
        top: 40%;
    }
}

@media (min-width: 992px) {
    .planet2 {
        left: 85%;
        top: -25%;
    }
}

.planet1-ring {
    border-radius: 50%;
    border: solid 10px var(--dark);
    box-sizing: border-box;
    height: 150%;
    left: -25%;
    opacity: .5;
    position: absolute;
    top: -25%;
    transform: rotate3d(0.8, 0.7, .5, 75deg);
    width: 150%;
}

.planet2-ring {
    border-radius: 50%;
    border: solid 2px var(--secondary);
    box-sizing: border-box;
    height: 150%;
    left: -25%;
    opacity: .5;
    position: absolute;
    top: -25%;
    transform: rotate3d(0.75, 0.1, .1, 240deg);
    width: 150%;
}

.planet3-ring {
    border-radius: 50%;
    border: solid 3px var(--secondary);
    box-sizing: border-box;
    height: 150%;
    left: -25%;
    opacity: .5;
    position: absolute;
    top: -25%;
    transform: rotate3d(0.75, 0.1, 0.75, 270deg);
    width: 150%;
}

@media (min-width: 576px) {
    .planet1-ring {
        border: solid 12px var(--dark);
    }

    .planet2-ring {
        border: solid 2px var(--secondary);
    }

    .planet3-ring {
        border: solid 7px var(--secondary);
    }
}

@media (min-width: 768px) {
    .planet1-ring {
        border: solid 16px var(--dark);
    }

    .planet2-ring {
        border: solid 3px var(--secondary);
    }

    .planet3-ring {
        border: solid 9px var(--secondary);
    }
}

@media (min-width: 992px) {
    .planet1-ring {
        border: solid 20px var(--dark);
    }

    .planet2-ring {
        border: solid 4px var(--secondary);
    }

    .planet3-ring {
        border: solid 12px var(--secondary);
    }
}

@media (min-width: 1200px) {
    .planet1-ring {
        border: solid 24px var(--dark);
    }

    .planet2-ring {
        border: solid 5px var(--secondary);
    }

    .planet3-ring {
        border: solid 15px var(--secondary);
    }
}

.planet1-ring:after {
    animation: pulse 15s linear infinite;
    animation-delay: 1s;
    border-radius: 50%;
    border: solid 10px var(--dark);
    content: "";
    height: 105%;
    left: -7.5%;
    opacity: 0;
    position: absolute;
    top: -7.5%;
    width: 110%;
}

.planet2-ring:after {
    animation: pulse 8s linear infinite;
    animation-delay: 2s;
    border-radius: 50%;
    border: solid 2px var(--secondary);
    content: "";
    height: 100%;
    left: -5%;
    opacity: 0;
    position: absolute;
    top: -5%;
    width: 100%;
}

.planet3-ring:after {
    animation: pulse 12s linear infinite;
    animation-delay: 3s;
    border-radius: 50%;
    border: solid 3px var(--secondary);
    content: "";
    height: 100%;
    left: -5%;
    opacity: 0;
    position: absolute;
    top: -5%;
    width: 100%;
}

@media (min-width: 576px) {
    .planet1-ring:after {
        border: solid 12px var(--dark);
    }

    .planet2-ring:after {
        border: solid 2px var(--secondary);
    }

    .planet3-ring:after {
        border: solid 7px var(--secondary);
        left: -7.5%;
        top: -7.5%;
    }
}

@media (min-width: 768px) {
    .planet1-ring:after {
        border: solid 16px var(--dark);
    }

    .planet2-ring:after {
        border: solid 3px var(--secondary);
    }

    .planet3-ring:after {
        border: solid 9px var(--secondary);
        left: -7.5%;
        top: -7.5%;
    }
}

@media (min-width: 992px) {
    .planet1-ring:after {
        border: solid 20px var(--dark);
    }

    .planet2-ring:after {
        border: solid 4px var(--secondary);
    }

    .planet3-ring:after {
        border: solid 12px var(--secondary);
    }
}

@media (min-width: 1200px) {
    .planet1-ring:after {
        border: solid 24px var(--dark);
    }

    .planet2-ring:after {
        border: solid 5px var(--secondary);
    }

    .planet3-ring:after {
        border: solid 15px var(--secondary);
    }
}

@keyframes planet {
    0% {
        transform: rotate(0deg) translateY(10px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateY(10px) rotate(-360deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    20% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes verticalMovement {
    0% {
        bottom: 30px
    }

    50% {
        bottom: 20px
    }

    100% {
        bottom: 30px
    }
}