.projects {
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    width: 100%;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    row-gap: 32px;
    width: 85%;
}

.projects-carousel {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 992px) {
    .projects-carousel {
        height: 400px;
        justify-content: space-between;
        width: 100%;
    }
}

.projects-button {
    display: none;
    height: fit-content;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .projects-button {
        display: block;
    }
}

.projects-button img {
    aspect-ratio: 1/1;
    width: 48px;
}

.projects-button:hover {
    cursor: pointer;
}

.projects-cards {
    height: 100%;
    position: relative;
    width: 90%;
}

.projects-card {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    left: 50%;
    max-height: none;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    width: 90%;
}

.projects-card-fade-out {
    opacity: 0;
    pointer-events: none;
}

.projects-card-fade-in {
    opacity: 1;
    z-index: 1;
}

@media (min-width: 992px) {
    .projects-card:has(a) {
        border-left: 1px solid white;
    }

    .projects-card {
        border-left: 1px solid var(--secondary);
        flex-direction: row;
        max-height: 400px;
        width: 75vw;
    }
}

.projects-card-left {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    width: 100%;
}

@media (min-width: 992px) {
    .projects-card-left {
        padding: 24px;
        width: 50%;
    }

    .projects-card-left div:nth-child(2) {
        flex-grow: 1;
    }
}

.projects-card-left div:last-child {
    margin-top: 32px;
}

.projects-card:has(.title) .title {
    font-size: 32px;
    font-weight: 350;
    margin-bottom: 16px;
}

.projects-card:has(.title) .title::after {
    display: none;
}

.projects-card-tech {
    align-items: flex-end;
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    width: fit-content;
}

.projects-tech-tag {
    border-radius: 12px;
    border: 1px solid var(--secondary);
    font-size: 14px;
    padding: 4px 12px;
    width: fit-content;
}

.projects-card-right {
    width: 100%;
}

@media (min-width: 992px) {
    .projects-card-right {
        align-items: center;
        display: flex;
    }
}

.projects-card-image {
    max-height: 350px;
    max-width: 100%;
}

.projects-card-image img {
    height: 100%;
    width: 100%;
}

.projects-image-unavailable {
    display: flex;
    justify-content: center;
    width: 100%;
}

.projects-carousel-nav {
    display: flex;
    justify-content: center;
}

.projects-carousel-nav-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.projects-carousel-nav-item {
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    height: 12px;
    opacity: .25;
    position: relative;
    transition: .1s linear;
    z-index: 1;
}

.projects-carousel-nav-item:hover,
.projects-carousel-nav-item:focus-visible {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.25);
}

.projects-carousel-nav-item--active {
    background-color: var(--secondary);
    opacity: 1;
}