section {
    --circleColour: transparent;
}

.skills {
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 0;
    width: 85%;
}

.skills-cols {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

@media (min-width: 992px) {
    .skills-cols {
        flex-direction: row;
    }
}

.skills-col-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    height: fit-content;
    width: 100%;
}

.skills-col-middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    height: fit-content;
    width: 100%;
    position: relative;
}

.skills-col-middle:before {
    background-color: white;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.skills-col-middle:after {
    background-color: white;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
}


@media (min-width: 992px) {
    .skills-col-middle:before {
        border-left: 1px solid white;
        bottom: 0;
        content: "";
        height: 85%;
        position: absolute;
        top: auto;
        width: 1px;
    }

    .skills-col-middle:after {
        border-right: 1px solid white;
        bottom: 0;
        content: "";
        height: 85%;
        position: absolute;
        right: 0;
        width: 1px;
    }
}

.skills-col-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    height: fit-content;
    width: 100%;
}

@media (min-width: 992px) {

    .skills-col-left,
    .skills-col-middle,
    .skills-col-right {
        width: 33%
    }
}