.socials {
    align-items: center;
    background-color: var(--primary); 
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 24px 0;
    width: 100%;
}

.socials-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
    width: 85%;
}

@media (min-width: 992px) {
    .socials-wrapper {
        flex-direction: row;
        justify-content: center;
    }
}

.contact-info-spacer {
    display: flex;
    flex-direction: column;     
    gap: 16px;
    height: 75%;
    justify-content: center;
    width: fit-content;
}

.contact-socials {
    display: flex;
    gap: 16px;
}

.contact-social-media-button {
    border-radius: 12px;
    height: 48px;
}