.hero-stars {
    overflow-x: hidden;
}

.hero-star {
    display: none;
}

@media (min-width: 568px) {
    .hero-star {
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 50%;
        display: block;
        position: absolute;
    }
}

.hero-star:nth-child(1) {
    height: 2px;
    left: 70%;
    top: 25%;
}

.hero-star:nth-child(2) {
    height: 1px;
    left: 40%;
    top: 35%;
}

.hero-star:nth-child(3) {
    height: 1px;
    left: 15%;
    top: 90%;
}

.hero-star:nth-child(4) {
    height: 1px;
    left: 85%;
    top: 80%;
}

.hero-star:nth-child(5) {
    height: 2px;
    left: 50%;
    top: 85%;
}

.hero-star:nth-child(6) {
    height: 1px;
    left: 12.5%;
    top: 10%;
}

.hero-star:nth-child(7) {
    height: 1px;
    left: 90%;
    top: 15%;
}

.hero-star:nth-child(7) {
    height: 1px;
    left: 45%;
    top: 20%;
}

.hero-shootingStar {
    display: none;
}

@media (min-width: 992px) {
    .hero-shootingStar {
        display: block;
    }
}

#shoot1 {
    animation: shoot1 4s linear forwards;
    animation-delay: 3s;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 5px;
    opacity: 0;
    position: absolute;
}

#shoot1::before{
    background: linear-gradient(45deg,white,transparent);
    content:'';
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 0% 0%;
    transform: rotate(330deg);
    width: 15vw;
}

@keyframes shoot1 {
    0% {
        background-color: white;
        display: block;
        left: 75%;
        opacity: 0;
        top: 25%;
    }
    10% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    100% {
        left: 40%;
        opacity: 0;
        top: 65%;
    }
}

#shoot2 {
    animation: shoot2 4s linear forwards;
    animation-delay: 4s;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 5px;
    opacity: 0;
    position: absolute;
}

#shoot2::before{
    background: linear-gradient(45deg, var(--quartiary),transparent);
    content:'';
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 0% 0%;
    transform: rotate(330deg);
    width: 15vw;
}

@keyframes shoot2 {
    0% {
        background-color: var(--quartiary);
        display: block;
        left: 80%;
        opacity: 0;
        top: 15%;
    }
    10% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    100% {
        left: 45%;
        opacity: 0;
        top: 55%;
    }
}

#shoot3 {
    animation: shoot3 4s linear forwards;
    animation-delay: 3.5s;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 5px;
    opacity: 0;
    position: absolute;
}

#shoot3::before{
    background: linear-gradient(45deg,rgb(0, 217, 255),transparent);
    content:'';
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 0% 0%;
    transform: rotate(330deg);
    width: 15vw;
}

@keyframes shoot3 {
    0% {
        background-color: rgb(0, 217, 255);
        display: block;
        left: 85%;
        opacity: 0;
        top: 25%;
    }
    10% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    100% {
        left: 50%;
        opacity: 0;
        top: 60%;
    }
}